.stock-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 8vh - 20px);
  overflow: hidden;
}

.stock-text,
.stock-small-text {
  text-align: center;
  color: #ea2027;
  font-size: clamp(24px, 1.4vw, 48px);
}

.stock-small-text {
  font-weight: 100;
  font-size: clamp(18px, 1.2vw, 32px);
}

.stock-element{
    width: clamp(300px, 50%, 500px);
    height: 45px;
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid rgba(255, 0, 0, 0.15);
    margin: 0 auto;
    box-shadow: 0 7px 20px -10px rgba(150,170,180,0.5);
    padding: 3px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}

.stock-product{
    padding-bottom: 2px;
}

.stock-id{
    padding-bottom: 1px;
}

.prod-qty{
    width: 50px;
    border: 1px solid rgba(255, 0, 0);
    padding: 1px 0 0px 5px;
    border-radius: 25px;
    margin-left: 5px;
}

.sell-btn{
    background-color: #ea2027;
    border: none;
    border-radius: 25px;
    padding: 2px 7px;
    color: #FFF;
    margin-left: 5px;
    cursor: pointer;
}